<article class="card" aria-label="Project card">
    <header class="card__head">
        <h3 class="card__title">{{ project.name }}</h3>
        <span class="pill pill--status" [class.pill--active]="project.status==='active'">
            {{ project.status }}
        </span>

        <button class="kebab" aria-label="More actions">
            <span></span><span></span><span></span>
        </button>
    </header>

    <p class="client">{{ project.client || 'No client assigned' }}</p>
    <p class="desc">{{ project.description }}</p>

    <!-- <div class="progress" role="progressbar" [attr.aria-valuenow]="project.progressPct" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress__bar" [ngStyle]="progressStyle"></div>
        <div class="progress__label">{{ project.progressPct }}%</div>
    </div> -->
    <p-progressbar [value]="project.progress" />

    <div class="meta">
        <div class="meta__item" title="Budget">
            <i class="pi pi-wallet"></i>
            <span>${{ project.spent_amount | number:'1.0-0' }} / ${{ project.budget | number:'1.0-0' }}</span>
        </div>

        <div class="meta__item" title="Due date">
            <i class="pi pi-calendar"></i>
            <span>Due {{ project.end_date | date:'MMM d' }}</span>
        </div>
    </div>

    <div class="team">
        <div class="avatars">
            @for (m of project.team.slice(0, 3); track m) {
            <img class="avatar" [src]="m.avatarUrl ?? '/assets/craftivo-logo.png'" [alt]="m.name" />
            }
            @if (project.team && project.team.length > 3) {
            <span class="avatar avatar--more">
                +{{ project.team.length-3 }}
            </span>
            }
        </div>
    </div>

    <div class="actions">
        <button class="btn btn--ghost" (click)="onView($event)">
            <i class="pi pi-eye"></i>
            View
        </button>
        <button class="btn btn--primary" (click)="onEdit($event)">
            <i class="pi pi-pencil"></i>
            Edit
        </button>
    </div>
</article>