<section class="dashboard-header">
    <div>
        <h1>Dashboard</h1>
        <p>Welcome back! Here's what's happening with your freelance business.</p>
    </div>
    <button class="new-project-button"> + New Project</button>
</section>
<section class="summary">
    <app-summary-cards [summarys]="summarys"></app-summary-cards>
</section>
<div class="container1">
    <div class="recent-projects">
        <div class="recent-projects-label">
            <div>
                <h2>Recent Projects</h2>
                <p>Your active and recent project overview</p>
            </div>
            <div class="view-all">
                <a routerLink="dashboard/projects">View All <i class="pi pi-arrow-right"></i></a>
            </div>
        </div>
        <section class="projects">
            <div *ngFor="let project of projects" class="project-card">
                <div class="project-info">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.client?.name || 'No client assigned' }}</p>
                    <p-progressbar [value]="project.progress" />
                </div>
                <div>
                    <p>${{ project.budget }}</p>
                    <p>Due: {{ project.due }}</p>
                </div>
            </div>
        </section>
    </div>
    <div class="tasks-container">
        <section class="tasks">
            <h2>Today's Tasks</h2>
            <p>Your upcoming deadlines</p>
            <div *ngFor="let task of tasks" class="task-card">
                <h3>{{ task.title }}</h3>
                <p>{{ task.projects?.name || 'No project assigned' }}</p>
                <p>Due: {{ task.due_time }} | Status: {{ task.status }}</p>
            </div>
        </section>
    </div>
</div>
<div class="container2">
    <section class="team">
        <div>
            <h2>Team Activity</h2>
            <p>Recent updates from your team</p>
        </div>
        <div *ngFor="let activity of teamActivity" class="team-member">
            <h3><strong>{{ activity.name }}</strong> {{ activity.status }}</h3>
            <p>{{activity.project}}</p>
        </div>
    </section>
    <section class="action-buttons-container">
        <div class="action-buttons-header">
            <h1>Quick Actions</h1>
            <p>Common tasks and shortcuts</p>
        </div>
        <div class="action-buttons">
            <button class="action-button">
                <i class="pi pi-file"></i>
                <p>New Invoice</p>
            </button>
            <button class="action-button">
                <i class="pi pi-clock"></i>
                <p>Start Timer</p>
            </button>
            <button class="action-button">
                <i class="pi pi-envelope"></i>
                <p>Email Client</p>
            </button>
            <button class="action-button">
                <i class="pi pi-users"></i>
                <p>Invite Team</p>
            </button>
        </div>
    </section>
</div>